.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.p-16 {
  padding: 16px;
}

.cl_purple-dark {
  color: #4e0f89;
}

.cl_purple {
  color: #7739b1;
}

.cl_purple-light {
  color: #bca8cf;
}

.rounded-10 {
  border-radius: 10px;
}
