html,
body {
  margin: 0;
  font-family: "Releway", sans-serif;
}

header {
  height: 60px;
}

footer {
  padding: 16px;
  height: 28px;
}

input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: #aaa;
  opacity: 70%;
}

input {
  border: 0;
  outline: none;
  border: 1px solid #8189b7;
  min-height: 60px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  width: 300px;
}

.title {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  margin-top: 140px;
  margin-bottom: 24px;
  opacity: 70%;
}

.chat-username {
  font-size: 16px;
  font-weight: 600;
  color: #0077cc;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}

.gap-12 {
  gap: 12px;
}

.text-decoration-none {
  text-decoration: none;
}

.border-none {
  border: none;
}

.bg_red {
  color: #dc3545;
}

.mx-auto {
  margin: 0 auto;
}

.rounded-10 {
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

.max-width {
  max-width: 800px;
}

.w-full {
  width: 100%;
}

.cl_dived {
  border-bottom: 1px solid #000000;
  opacity: 25%;
}

.max-height {
  height: calc(100vh - 120px);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.cl_white {
  color: white;
}

.mt-auto {
  margin-top: auto;
}

.btn-font {
  font-family: "Raleway", sans-serif;
}

.display-block {
  display: block;
}

.text-center {
  text-align: center;
}
