html,
body {
  margin: 0;
}

input {
  border: 0;
  outline: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.p-16 {
  padding: 16px;
}

.mx-auto {
  margin: 0 auto;
}

.rounded-10 {
  border-radius: 10px;
}

.max-width {
  max-width: 1200px;
}

.max-height {
  height: calc(100vh - 120px);
}

.w-full {
  width: 100%;
}

.cl_dived {
  border-bottom: 1px solid #000000;
  opacity: 25%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.max-height {
  height: calc(100vh - 130px);
}
