html,
body {
  margin: 0;
}

header {
  height: 60px;
}

footer {
  padding: 16px;
  height: 28px;
}

input::placeholder {
  color: #aaa;
  opacity: 70%;
}

input {
  border: 0;
  outline: none;
  border: 1px solid #8189b7;
  min-height: 60px;
  padding: 6px 8px;
  background-color: rgb(55, 55, 55);
  width: 300px;
}
