@import "@/assets/styles/typography.css";

#app {
  font-family: var(--font-primary);
  font-size: var(--text-base);
  line-height: var(--leading-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
}

header {
  height: 60px;
  max-width: 1200px;
}

footer {
  padding: 16px;
  height: 28px;
}

input {
  border: 0;
  outline: none;
  border: 1px solid #8189b7;
  min-height: 60px;
  padding: 6px 8px;
  background-color: rgb(55, 55, 55);
  width: 300px;
}

input::placeholder {
  color: #aaa;
  opacity: 70%;
}
