:root {
  --color-error: #dc3545;
  --color-red: #cc4f4f;
  --color-green: #66b366;
  --color-green-light: rgba(102, 179, 102, 0.5);
  --glitch-offset: 3px;
  --background-position: -150%;
  --size-large: 400%;
  --gradient-opacity-high: 0.9;
  --gradient-opacity-low: 0.8;
  --nebula-opacity: 0.2;
  --color-primary: rgb(52, 93, 255);
  --color-green: #66b366;
  --color-background: rgba(0, 0, 0, 0.5);
  --color-border: rgba(173, 180, 230, 0.5);
  --color-text-light: #f0f0f0;
  --color-text-muted: #888;
  --color-own-message: #dcf8c6;
}
